# Database Configuration
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=driyum.com

# SMTP Mail Configuration
MAIL_HOST=smtp.hostinger.com
MAIL_USER=contact@driyum.com
MAIL_PASS=
MAIL_PORT=465

# Razorpay Configuration
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# App Security
AUTH_SECRET_KEY=driyum_sec_7f9c2e48a1d560b384ef92c1074e5b
