
/node_modules
/vendor
/.env
/storage
/bootstrap/cache
/public/storage
/dist
/build
/uploads
*.log

# Uploaded images
/assets/images/categories/
/assets/images/products/
/assets/images/uploads/
mail_log.txt

