
> database\schema.sql:24:-- 
--------------------------------------------------------
  database\schema.sql:25:
  database\schema.sql:26:--
  database\schema.sql:27:-- Table structure for table 
`abandoned_carts`
  database\schema.sql:28:--
  database\schema.sql:29:
  database\schema.sql:30:CREATE TABLE `abandoned_carts` (
  database\schema.sql:31:  `id` int(11) NOT NULL,
  database\schema.sql:32:  `user_id` int(11) NOT NULL,
  database\schema.sql:33:  `cart_data` text NOT NULL,
  database\schema.sql:34:  `last_updated` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp(),
  database\schema.sql:35:  `is_reminded` tinyint(1) 
DEFAULT 0,
  database\schema.sql:36:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp()
  database\schema.sql:37:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:38:
  database\schema.sql:39:--
  database\schema.sql:40:-- Dumping data for table 
`abandoned_carts`
  database\schema.sql:41:--
  database\schema.sql:42:
  database\schema.sql:43:INSERT INTO `abandoned_carts` 
(`id`, `user_id`, `cart_data`, `last_updated`, 
`is_reminded`, `created_at`) VALUES
  database\schema.sql:44:(3, 1, '{\"12\":2}', 
'2026-01-23 15:53:15', 0, '2026-01-23 11:48:30'),
  database\schema.sql:45:(4, 2, 
'{\"11\":6,\"10\":6,\"12\":1}', '2026-01-23 18:08:53', 
0, '2026-01-23 15:56:37');
  database\schema.sql:46:
> database\schema.sql:47:-- 
--------------------------------------------------------
  database\schema.sql:48:
  database\schema.sql:49:--
  database\schema.sql:50:-- Table structure for table 
`admin_activity_log`
  database\schema.sql:51:--
  database\schema.sql:52:
  database\schema.sql:53:CREATE TABLE 
`admin_activity_log` (
  database\schema.sql:54:  `id` int(11) NOT NULL,
  database\schema.sql:55:  `admin_id` int(11) NOT NULL,
  database\schema.sql:56:  `action` varchar(255) NOT 
NULL,
  database\schema.sql:57:  `description` text DEFAULT 
NULL,
  database\schema.sql:58:  `ip_address` varchar(45) 
DEFAULT NULL,
  database\schema.sql:59:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp()
  database\schema.sql:60:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:61:
> database\schema.sql:62:-- 
--------------------------------------------------------
  database\schema.sql:63:
  database\schema.sql:64:--
  database\schema.sql:65:-- Table structure for table 
`admin_notifications`
  database\schema.sql:66:--
  database\schema.sql:67:
  database\schema.sql:68:CREATE TABLE 
`admin_notifications` (
  database\schema.sql:69:  `id` int(11) NOT NULL,
  database\schema.sql:70:  `message` varchar(255) NOT 
NULL,
  database\schema.sql:71:  `type` varchar(50) DEFAULT 
'info',
  database\schema.sql:72:  `link` varchar(255) DEFAULT 
'',
  database\schema.sql:73:  `is_read` tinyint(1) DEFAULT 
0,
  database\schema.sql:74:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp()
  database\schema.sql:75:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:76:
  database\schema.sql:77:--
  database\schema.sql:78:-- Dumping data for table 
`admin_notifications`
  database\schema.sql:79:--
  database\schema.sql:80:
  database\schema.sql:81:INSERT INTO 
`admin_notifications` (`id`, `message`, `type`, `link`, 
`is_read`, `created_at`) VALUES
  database\schema.sql:82:(1, 'New Order 
#ORD-69735E6875CBB received from Guest - ₹2,783.00', 
'order', 'orders.php?id=14', 1, '2026-01-23 11:41:28');
  database\schema.sql:83:
> database\schema.sql:84:-- 
--------------------------------------------------------
  database\schema.sql:85:
  database\schema.sql:86:--
  database\schema.sql:87:-- Table structure for table 
`affiliates`
  database\schema.sql:88:--
  database\schema.sql:89:
  database\schema.sql:90:CREATE TABLE `affiliates` (
  database\schema.sql:91:  `id` int(11) NOT NULL,
  database\schema.sql:92:  `user_id` int(11) NOT NULL,
  database\schema.sql:93:  `code` varchar(50) NOT NULL,
  database\schema.sql:94:  `commission_rate` 
decimal(5,2) DEFAULT 10.00,
  database\schema.sql:95:  `discount_percentage` 
decimal(5,2) DEFAULT 10.00,
  database\schema.sql:96:  `bank_details` text DEFAULT 
NULL,
  database\schema.sql:97:  `is_approved` tinyint(1) 
DEFAULT 0,
  database\schema.sql:98:  `status` 
enum('active','suspended') DEFAULT 'active',
  database\schema.sql:99:  `total_earnings` 
decimal(10,2) DEFAULT 0.00,
  database\schema.sql:100:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp(),
  database\schema.sql:101:  `updated_at` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp()
  database\schema.sql:102:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:103:
  database\schema.sql:104:--
  database\schema.sql:105:-- Dumping data for table 
`affiliates`
  database\schema.sql:106:--
  database\schema.sql:107:
  database\schema.sql:108:INSERT INTO `affiliates` 
(`id`, `user_id`, `code`, `commission_rate`, 
`discount_percentage`, `bank_details`, `is_approved`, 
`status`, `total_earnings`, `created_at`, `updated_at`) 
VALUES
  database\schema.sql:109:(1, 2, 'iry10', 10.00, 10.00, 
NULL, 1, 'active', 460.00, '2026-01-20 13:50:55', 
'2026-01-22 15:46:43');
  database\schema.sql:110:
> database\schema.sql:111:-- 
--------------------------------------------------------
  database\schema.sql:112:
  database\schema.sql:113:--
  database\schema.sql:114:-- Table structure for table 
`announcements`
  database\schema.sql:115:--
  database\schema.sql:116:
  database\schema.sql:117:CREATE TABLE `announcements` (
  database\schema.sql:118:  `id` int(11) NOT NULL,
  database\schema.sql:119:  `message` text NOT NULL,
  database\schema.sql:120:  `is_active` tinyint(1) 
DEFAULT 1,
  database\schema.sql:121:  `end_date` datetime DEFAULT 
NULL,
  database\schema.sql:122:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp(),
  database\schema.sql:123:  `updated_at` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp()
  database\schema.sql:124:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:125:
  database\schema.sql:126:--
  database\schema.sql:127:-- Dumping data for table 
`announcements`
  database\schema.sql:128:--
  database\schema.sql:129:
  database\schema.sql:130:INSERT INTO `announcements` 
(`id`, `message`, `is_active`, `end_date`, `created_at`, 
`updated_at`) VALUES
  database\schema.sql:131:(2, 'Free  shipping on orders 
abpve 500$ . Limited time offer', 1, NULL, '2026-01-17 
08:53:47', '2026-01-17 08:53:47');
  database\schema.sql:132:
> database\schema.sql:133:-- 
--------------------------------------------------------
  database\schema.sql:134:
  database\schema.sql:135:--
  database\schema.sql:136:-- Table structure for table 
`categories`
  database\schema.sql:137:--
  database\schema.sql:138:
  database\schema.sql:139:CREATE TABLE `categories` (
  database\schema.sql:140:  `id` int(11) NOT NULL,
  database\schema.sql:141:  `name` varchar(255) NOT NULL,
  database\schema.sql:142:  `slug` varchar(255) NOT NULL,
  database\schema.sql:143:  `description` text DEFAULT 
NULL,
  database\schema.sql:144:  `image` varchar(500) DEFAULT 
NULL,
  database\schema.sql:145:  `parent_id` int(11) DEFAULT 
NULL,
  database\schema.sql:146:  `is_active` tinyint(1) 
DEFAULT 1,
  database\schema.sql:147:  `sort_order` int(11) DEFAULT 
0,
  database\schema.sql:148:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp(),
  database\schema.sql:149:  `updated_at` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp()
  database\schema.sql:150:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:151:
  database\schema.sql:152:--
  database\schema.sql:153:-- Dumping data for table 
`categories`
  database\schema.sql:154:--
  database\schema.sql:155:
  database\schema.sql:156:INSERT INTO `categories` 
(`id`, `name`, `slug`, `description`, `image`, 
`parent_id`, `is_active`, `sort_order`, `created_at`, 
`updated_at`) VALUES
  database\schema.sql:157:(1, 'Fruits', 'fruits', 
'Apple, kiwi, banana', 
'assets/images/categories/cat_696bc21d5e319.webp', NULL, 
1, 1, '2026-01-16 18:57:45', '2026-01-17 17:08:45'),
  database\schema.sql:158:(2, 'Vegetable', 'vegetable', 
'Al hach and vangan hach', 
'assets/images/categories/cat_696bc44544ce2.webp', NULL, 
1, 2, '2026-01-16 18:57:45', '2026-01-17 17:17:57'),
  database\schema.sql:159:(3, 'Combos', 'combos', 'Value 
packs and gift hampers', 
'assets/images/categories/cat_696bc434cb3f2.webp', NULL, 
1, 3, '2026-01-16 18:57:45', '2026-01-17 17:17:40'),
  database\schema.sql:160:(4, 'Gift Hampers', 
'gift-hampers', 'Premium gift hampers', 
'assets/images/categories/cat_696b364f8fce6.png', NULL, 
0, 4, '2026-01-16 18:57:45', '2026-01-17 14:47:53'),
  database\schema.sql:161:(5, 'hampers', 'hampers', 
'gifting hamper by iry', 
'assets/images/categories/cat_696b367511da3.png', NULL, 
0, 3, '2026-01-17 07:12:53', '2026-01-17 14:47:53');
  database\schema.sql:162:
> database\schema.sql:163:-- 
--------------------------------------------------------
  database\schema.sql:164:
  database\schema.sql:165:--
  database\schema.sql:166:-- Table structure for table 
`contact_info`
  database\schema.sql:167:--
  database\schema.sql:168:
  database\schema.sql:169:CREATE TABLE `contact_info` (
  database\schema.sql:170:  `id` int(11) NOT NULL,
  database\schema.sql:171:  `address` text DEFAULT NULL,
  database\schema.sql:172:  `phone` varchar(50) DEFAULT 
NULL,
  database\schema.sql:173:  `email` varchar(100) DEFAULT 
NULL,
  database\schema.sql:174:  `whatsapp` varchar(50) 
DEFAULT NULL,
  database\schema.sql:175:  `instagram` varchar(100) 
DEFAULT NULL,
  database\schema.sql:176:  `facebook` varchar(100) 
DEFAULT NULL,
  database\schema.sql:177:  `map_iframe` text DEFAULT 
NULL,
  database\schema.sql:178:  `updated_at` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp()
  database\schema.sql:179:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:180:
  database\schema.sql:181:--
  database\schema.sql:182:-- Dumping data for table 
`contact_info`
  database\schema.sql:183:--
  database\schema.sql:184:
  database\schema.sql:185:INSERT INTO `contact_info` 
(`id`, `address`, `phone`, `email`, `whatsapp`, 
`instagram`, `facebook`, `map_iframe`, `updated_at`) 
VALUES
  database\schema.sql:186:(1, '123 Digital Valley, 
Srinagar, J&K, India', '+91 98765 43210', 
'contact@driyum.com', '919876543210', 'driyum_official', 
'driyum', '<iframe src=\"https://www.google.com/maps/embe
d?pb=!1m18!1m12!1m3!1d3305.823907722744!2d74.7973711!3d34
.0836558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!
1s0x38e18f26f743f0ed%3A0x6b4474327680f48b!2sSrinagar!5e0!
3m2!1sen!2sin!4v1700000000000!5m2!1sen!2sin\" 
width=\"100%\" height=\"450\" style=\"border:0;\" 
allowfullscreen=\"\" loading=\"lazy\"></iframe>', 
'2026-01-22 15:02:19');
  database\schema.sql:187:
> database\schema.sql:188:-- 
--------------------------------------------------------
  database\schema.sql:189:
  database\schema.sql:190:--
  database\schema.sql:191:-- Table structure for table 
`contact_messages`
  database\schema.sql:192:--
  database\schema.sql:193:
  database\schema.sql:194:CREATE TABLE 
`contact_messages` (
  database\schema.sql:195:  `id` int(11) NOT NULL,
  database\schema.sql:196:  `name` varchar(100) DEFAULT 
NULL,
  database\schema.sql:197:  `email` varchar(100) DEFAULT 
NULL,
  database\schema.sql:198:  `subject` varchar(255) 
DEFAULT NULL,
  database\schema.sql:199:  `message` text DEFAULT NULL,
  database\schema.sql:200:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp()
  database\schema.sql:201:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:202:
  database\schema.sql:203:--
  database\schema.sql:204:-- Dumping data for table 
`contact_messages`
  database\schema.sql:205:--
  database\schema.sql:206:
  database\schema.sql:207:INSERT INTO `contact_messages` 
(`id`, `name`, `email`, `subject`, `message`, 
`created_at`) VALUES
  database\schema.sql:208:(2, 'irfan manzoor', 
'drop.mail.iry@gmail.com', 'try', 'trying contact 
mesagehttp://localhost/newdry/contact.phpadd the below  
script is in  the head tag of every  frontnend like 
index and all files of  public folder ', '2026-01-22 
13:02:45');
  database\schema.sql:209:
> database\schema.sql:210:-- 
--------------------------------------------------------
  database\schema.sql:211:
  database\schema.sql:212:--
  database\schema.sql:213:-- Table structure for table 
`coupons`
  database\schema.sql:214:--
  database\schema.sql:215:
  database\schema.sql:216:CREATE TABLE `coupons` (
  database\schema.sql:217:  `id` int(11) NOT NULL,
  database\schema.sql:218:  `code` varchar(50) NOT NULL,
  database\schema.sql:219:  `type` 
enum('percentage','fixed') DEFAULT 'percentage',
  database\schema.sql:220:  `value` decimal(10,2) NOT 
NULL,
  database\schema.sql:221:  `max_discount` decimal(10,2) 
DEFAULT NULL,
  database\schema.sql:222:  `min_order_value` 
decimal(10,2) DEFAULT NULL,
  database\schema.sql:223:  `usage_limit` int(11) 
DEFAULT NULL,
  database\schema.sql:224:  `usage_count` int(11) 
DEFAULT 0,
  database\schema.sql:225:  `expiry_date` datetime 
DEFAULT NULL,
  database\schema.sql:226:  `is_active` tinyint(1) 
DEFAULT 1,
  database\schema.sql:227:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp(),
  database\schema.sql:228:  `updated_at` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp()
  database\schema.sql:229:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:230:
  database\schema.sql:231:--
  database\schema.sql:232:-- Dumping data for table 
`coupons`
  database\schema.sql:233:--
  database\schema.sql:234:
  database\schema.sql:235:INSERT INTO `coupons` (`id`, 
`code`, `type`, `value`, `max_discount`, 
`min_order_value`, `usage_limit`, `usage_count`, 
`expiry_date`, `is_active`, `created_at`, `updated_at`) 
VALUES
  database\schema.sql:236:(1, 'WELCOME10', 'percentage', 
10.00, NULL, 299.00, 100, 0, '2026-02-16 00:27:45', 1, 
'2026-01-16 18:57:45', '2026-01-16 18:57:45'),
  database\schema.sql:237:(2, 'FIRSTORDER', 
'percentage', 15.00, NULL, 499.00, 50, 0, '2026-02-16 
00:27:45', 1, '2026-01-16 18:57:45', '2026-01-16 
18:57:45'),
  database\schema.sql:238:(3, 'SAVE100', 'fixed', 
100.00, NULL, 999.00, 200, 0, '2026-02-16 00:27:45', 1, 
'2026-01-16 18:57:45', '2026-01-16 18:57:45'),
  database\schema.sql:239:(4, 'RAMADAN2026', 'fixed', 
200.00, 0.00, 1000.00, 1000, 0, NULL, 1, '2026-01-17 
17:07:55', '2026-01-23 10:27:07');
  database\schema.sql:240:
> database\schema.sql:241:-- 
--------------------------------------------------------
  database\schema.sql:242:
  database\schema.sql:243:--
  database\schema.sql:244:-- Table structure for table 
`hero_slides`
  database\schema.sql:245:--
  database\schema.sql:246:
  database\schema.sql:247:CREATE TABLE `hero_slides` (
  database\schema.sql:248:  `id` int(11) NOT NULL,
  database\schema.sql:249:  `title` varchar(255) NOT 
NULL,
  database\schema.sql:250:  `subtitle` text DEFAULT NULL,
  database\schema.sql:251:  `image` varchar(500) NOT 
NULL,
  database\schema.sql:252:  `cta_text` varchar(100) 
DEFAULT NULL,
  database\schema.sql:253:  `cta_link` varchar(500) 
DEFAULT NULL,
  database\schema.sql:254:  `is_active` tinyint(1) 
DEFAULT 1,
  database\schema.sql:255:  `sort_order` int(11) DEFAULT 
0,
  database\schema.sql:256:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp(),
  database\schema.sql:257:  `updated_at` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp()
  database\schema.sql:258:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:259:
  database\schema.sql:260:--
  database\schema.sql:261:-- Dumping data for table 
`hero_slides`
  database\schema.sql:262:--
  database\schema.sql:263:
  database\schema.sql:264:INSERT INTO `hero_slides` 
(`id`, `title`, `subtitle`, `image`, `cta_text`, 
`cta_link`, `is_active`, `sort_order`, `created_at`, 
`updated_at`) VALUES
  database\schema.sql:265:(1, '100% Real Fruit Snacks', 
'No Oil. No Preservatives. Just Pure Goodness.', 
'/assets/images/hero/slide1.jpg', 'Shop Now', 
'/shop.php', 1, 1, '2026-01-16 18:57:45', '2026-01-16 
18:57:45'),
  database\schema.sql:266:(2, 'Traditional Hokh Suin', 
'Experience the authentic taste of Kashmir', 
'/assets/images/hero/slide2.jpg', 'Explore', 
'/shop.php?category=hokh-suin', 1, 2, '2026-01-16 
18:57:45', '2026-01-16 18:57:45'),
  database\schema.sql:267:(3, 'Premium Gift Hampers', 
'Perfect gifts for your loved ones', 
'/assets/images/hero/slide3.jpg', 'View Hampers', 
'/shop.php?category=gift-hampers', 1, 3, '2026-01-16 
18:57:45', '2026-01-16 18:57:45');
  database\schema.sql:268:
> database\schema.sql:269:-- 
--------------------------------------------------------
  database\schema.sql:270:
  database\schema.sql:271:--
  database\schema.sql:272:-- Table structure for table 
`homepage_sections`
  database\schema.sql:273:--
  database\schema.sql:274:
  database\schema.sql:275:CREATE TABLE 
`homepage_sections` (
  database\schema.sql:276:  `id` int(11) NOT NULL,
  database\schema.sql:277:  `section_name` varchar(50) 
NOT NULL,
  database\schema.sql:278:  `heading` varchar(255) 
DEFAULT NULL,
  database\schema.sql:279:  `subheading` text DEFAULT 
NULL,
  database\schema.sql:280:  `media_url` varchar(255) 
DEFAULT NULL,
  database\schema.sql:281:  `video_url` varchar(255) 
DEFAULT NULL,
  database\schema.sql:282:  `cta_text` varchar(100) 
DEFAULT NULL,
  database\schema.sql:283:  `cta_link` varchar(255) 
DEFAULT NULL,
  database\schema.sql:284:  `updated_at` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp()
  database\schema.sql:285:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:286:
  database\schema.sql:287:--
  database\schema.sql:288:-- Dumping data for table 
`homepage_sections`
  database\schema.sql:289:--
  database\schema.sql:290:
  database\schema.sql:291:INSERT INTO 
`homepage_sections` (`id`, `section_name`, `heading`, 
`subheading`, `media_url`, `video_url`, `cta_text`, 
`cta_link`, `updated_at`) VALUES
  database\schema.sql:292:(1, 'video_brand_story', 
'AMARSINGH REVIWS ', 'Featuring IRY', 'assets/images/uplo
ads/vid_thumb_696e35fd83b1a_thumb.jpeg', 
'assets/videos/brand_v_696e35fd8ca2a.mp4', NULL, NULL, 
'2026-01-19 13:47:41'),
  database\schema.sql:293:(2, 'hero', 'YOUR NEW 
\nHEALTHY HABIT.', 'Absolutely No Sugar. 100% 
Guilt-Free.', 'assets/images/hero.jpg', NULL, 'Start 
Crunching', 'shop.php', '2026-01-18 16:40:19');
  database\schema.sql:294:
> database\schema.sql:295:-- 
--------------------------------------------------------
  database\schema.sql:296:
  database\schema.sql:297:--
  database\schema.sql:298:-- Table structure for table 
`newsletter_subscribers`
  database\schema.sql:299:--
  database\schema.sql:300:
  database\schema.sql:301:CREATE TABLE 
`newsletter_subscribers` (
  database\schema.sql:302:  `id` int(11) NOT NULL,
  database\schema.sql:303:  `email` varchar(255) NOT 
NULL,
  database\schema.sql:304:  `is_active` tinyint(1) 
DEFAULT 1,
  database\schema.sql:305:  `subscribed_at` timestamp 
NOT NULL DEFAULT current_timestamp()
  database\schema.sql:306:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:307:
  database\schema.sql:308:--
  database\schema.sql:309:-- Dumping data for table 
`newsletter_subscribers`
  database\schema.sql:310:--
  database\schema.sql:311:
  database\schema.sql:312:INSERT INTO 
`newsletter_subscribers` (`id`, `email`, `is_active`, 
`subscribed_at`) VALUES
  database\schema.sql:313:(1, 'drop.mail.iry@gmail.com', 
1, '2026-01-17 09:28:55'),
  database\schema.sql:314:(3, 'faiqbhat123@gmail.com', 
1, '2026-01-23 11:18:53'),
  database\schema.sql:315:(4, 'masrat5qadir@gmail.com', 
1, '2026-01-23 11:18:53'),
  database\schema.sql:316:(5, 'aymenraina@gmail.com', 1, 
'2026-01-23 11:18:53'),
  database\schema.sql:317:(6, 'saqibillahi@gmail.com', 
1, '2026-01-23 11:18:53'),
  database\schema.sql:318:(7, 'shifashaber@gmail.com', 
1, '2026-01-23 11:18:53'),
  database\schema.sql:319:(8, 'shahaisha.004@gmail.com', 
1, '2026-01-23 11:18:53'),
  database\schema.sql:320:(9, 
'basharathooria@gmail.com', 1, '2026-01-23 11:18:53'),
  database\schema.sql:321:(10, 'gsajad609@gmail.com', 1, 
'2026-01-23 11:18:53'),
  database\schema.sql:322:(11, 
'sunsetchalet08@gmail.com', 1, '2026-01-23 11:18:53'),
  database\schema.sql:323:(12, 'mirsehraan9@gmail.com', 
1, '2026-01-23 11:18:53'),
  database\schema.sql:324:(13, 
'ghouleyepatch31@gmail.com', 1, '2026-01-23 11:18:53'),
  database\schema.sql:325:(14, 'riyanjavaid9@gmail.com', 
1, '2026-01-23 11:18:53'),
  database\schema.sql:326:(15, 
'friedmomo.com@gmail.com', 1, '2026-01-23 11:18:53'),
  database\schema.sql:327:(16, 
'shakeebfarhat40@gmail.com', 1, '2026-01-23 11:18:53'),
  database\schema.sql:328:(17, 
'stayhumble7865@gmail.com', 1, '2026-01-23 11:18:53'),
  database\schema.sql:329:(18, 
'nuzeefakhan612@gmail.com', 1, '2026-01-23 11:18:53'),
  database\schema.sql:330:(19, 
'owaisrashad075@gmail.com', 1, '2026-01-23 11:18:53'),
  database\schema.sql:331:(20, 
'rahilmanzoorsangeen@gmail.com', 1, '2026-01-23 
11:18:53'),
  database\schema.sql:332:(21, 
'xainabbhat321@gmail.com', 1, '2026-01-23 11:18:53'),
  database\schema.sql:333:(22, 'bhatbhatfaiq@gmail.com', 
1, '2026-01-23 11:18:53'),
  database\schema.sql:334:(23, 
'ahmadsaadtramboo@gmail.com', 1, '2026-01-23 11:18:53'),
  database\schema.sql:335:(24, 'bhatmehnaz37@gmail.com', 
1, '2026-01-23 11:18:53'),
  database\schema.sql:336:(25, 
'aaminaaltaf868@gmail.com', 1, '2026-01-23 11:18:53'),
  database\schema.sql:337:(26, 'sbhtshbr@gmail.com', 1, 
'2026-01-23 11:18:53'),
  database\schema.sql:338:(27, 
'hayamalik07886@gmail.com', 1, '2026-01-23 11:18:53'),
  database\schema.sql:339:(28, 
'jannataslam505@gmail.com', 1, '2026-01-23 11:18:53'),
  database\schema.sql:340:(29, 'ajmeenferoz@gmail.com', 
1, '2026-01-23 11:18:53'),
  database\schema.sql:341:(30, 'ajmeenagway@gmail.com', 
1, '2026-01-23 11:18:53'),
  database\schema.sql:342:(31, 'kashfiyah52@gmail.com', 
1, '2026-01-23 11:18:53'),
  database\schema.sql:343:(32, 'saimawani260@gmail.com', 
1, '2026-01-23 11:18:53'),
  database\schema.sql:344:(33, 'mxargar9@gmail.com', 1, 
'2026-01-23 11:18:53'),
  database\schema.sql:345:(34, 'dalpafrheen@gmail.com', 
1, '2026-01-23 11:18:53'),
> database\schema.sql:400:-- 
--------------------------------------------------------
  database\schema.sql:401:
  database\schema.sql:402:--
  database\schema.sql:403:-- Table structure for table 
`orders`
  database\schema.sql:404:--
  database\schema.sql:405:
  database\schema.sql:406:CREATE TABLE `orders` (
  database\schema.sql:407:  `id` int(11) NOT NULL,
  database\schema.sql:408:  `order_number` varchar(50) 
NOT NULL,
  database\schema.sql:409:  `user_id` int(11) DEFAULT 
NULL,
  database\schema.sql:410:  `affiliate_id` int(11) 
DEFAULT NULL,
  database\schema.sql:411:  `subtotal` decimal(10,2) NOT 
NULL,
  database\schema.sql:412:  `discount` decimal(10,2) 
DEFAULT 0.00,
  database\schema.sql:413:  `shipping_cost` 
decimal(10,2) DEFAULT 0.00,
  database\schema.sql:414:  `total` decimal(10,2) NOT 
NULL,
  database\schema.sql:415:  `affiliate_commission` 
decimal(10,2) DEFAULT 0.00,
  database\schema.sql:416:  `payment_method` varchar(50) 
NOT NULL,
  database\schema.sql:417:  `payment_status` varchar(50) 
DEFAULT 'pending',
  database\schema.sql:418:  `razorpay_payment_id` 
varchar(255) DEFAULT NULL,
  database\schema.sql:419:  `order_status` varchar(50) 
DEFAULT 'pending',
  database\schema.sql:420:  `shipping_address` text NOT 
NULL,
  database\schema.sql:421:  `tracking_number` 
varchar(100) DEFAULT NULL,
  database\schema.sql:422:  `tracking_note` text DEFAULT 
NULL,
  database\schema.sql:423:  `dispatch_date` datetime 
DEFAULT NULL,
  database\schema.sql:424:  `shipping_method_id` int(11) 
DEFAULT NULL,
  database\schema.sql:425:  `shipping_zone_id` int(11) 
DEFAULT NULL,
  database\schema.sql:426:  `notes` text DEFAULT NULL,
  database\schema.sql:427:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp(),
  database\schema.sql:428:  `updated_at` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp()
  database\schema.sql:429:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:430:
  database\schema.sql:431:--
  database\schema.sql:432:-- Dumping data for table 
`orders`
  database\schema.sql:433:--
  database\schema.sql:434:
  database\schema.sql:435:INSERT INTO `orders` (`id`, 
`order_number`, `user_id`, `affiliate_id`, `subtotal`, 
`discount`, `shipping_cost`, `total`, 
`affiliate_commission`, `payment_method`, 
`payment_status`, `razorpay_payment_id`, `order_status`, 
`shipping_address`, `tracking_number`, `tracking_note`, 
`dispatch_date`, `shipping_method_id`, 
`shipping_zone_id`, `notes`, `created_at`, `updated_at`) 
VALUES
  database\schema.sql:436:(1, 'ORD-696B2AB8D0085', 1, 
NULL, 2598.00, 0.00, 0.00, 2728.00, 0.00, 'cod', 
'pending', NULL, 'delivered', '{\"name\":\"irfan manzoor\
",\"email\":\"drop.mail.iry@gmail.com\",\"phone\":\"06006
801960\",\"address\":\"sector 7 gulberg colony 
hyderpora\",\"city\":\"Srinagar (M Corp. + OG) 
(Part)\",\"zip\":\"190014\"}', NULL, NULL, NULL, NULL, 
NULL, NULL, '2026-01-17 06:22:48', '2026-01-23 
10:25:16'),
  database\schema.sql:437:(2, 'ORD-696B2B8364365', 2, 
NULL, 698.00, 0.00, 0.00, 733.00, 0.00, 'cod', 
'pending', NULL, 'cancelled', '{\"name\":\"irfan manzoor\
",\"email\":\"drop.mail.iry@gmail.com\",\"phone\":\"06006
801960\",\"address\":\"sector 7 gulberg colony 
hyderpora\",\"city\":\"Srinagar (M Corp. + OG) 
(Part)\",\"zip\":\"190014\"}', NULL, NULL, NULL, NULL, 
NULL, NULL, '2026-01-17 06:26:11', '2026-01-23 
10:25:21'),
  database\schema.sql:438:(3, 'ORD-696BA2A2345E2', 1, 
NULL, 2396.00, 0.00, 0.00, 2516.00, 0.00, 'cod', 
'pending', NULL, 'confirmed', '{\"name\":\"irfan manzoor\
",\"email\":\"drop.mail.iry@gmail.com\",\"phone\":\"+9160
06801960\",\"address\":\"sector 7 gulberg colony 
hyderpora\",\"city\":\"Srinagar (M Corp. + OG) 
(Part)\",\"zip\":\"190014\"}', NULL, NULL, NULL, NULL, 
NULL, NULL, '2026-01-17 14:54:26', '2026-01-23 
09:50:37'),
  database\schema.sql:439:(4, 'ORD-696BA431DFDFA', 1, 
NULL, 349.00, 0.00, 50.00, 417.00, 0.00, 'cod', 
'pending', NULL, 'confirmed', '{\"name\":\"irfan manzoor\
",\"email\":\"drop.mail.iry@gmail.com\",\"phone\":\"+9160
06801960\",\"address\":\"sector 7 gulberg colony 
hyderpora\",\"city\":\"Srinagar (M Corp. + OG) 
(Part)\",\"zip\":\"190014\"}', NULL, NULL, NULL, NULL, 
NULL, NULL, '2026-01-17 15:01:05', '2026-01-17 
15:02:46'),
  database\schema.sql:440:(5, 'ORD-696DF621C44E6', 1, 
NULL, 299.00, 0.00, 0.00, 314.00, 0.00, 'cod', 
'pending', NULL, 'shipped', '{\"name\":\"irfan manzoor\",
\"email\":\"drop.mail.iry@gmail.com\",\"phone\":\"+916006
801960\",\"address\":\"sector 7 gulberg colony 
hyderpora\",\"city\":\"Srinagar (M Corp. + OG) 
(Part)\",\"zip\":\"190014\"}', 'ORD-696DF621C44E6', 'you 
parcel has been confirmed', '2026-01-19 00:00:00', 0, 
NULL, NULL, '2026-01-19 09:15:13', '2026-01-19 
10:05:00'),
  database\schema.sql:441:(6, 'ORD-696E06D28F1C5', 1, 
NULL, 648.00, 0.00, 0.00, 681.00, 0.00, 'upi', 
'pending', '', 'pending', '{\"name\":\"irfan manzoor\",\"
email\":\"drop.mail.iry@gmail.com\",\"phone\":\"+91600680
1960\",\"address\":\"sector 7 gulberg colony 
hyderpora\",\"city\":\"Srinagar (M Corp. + OG) 
(Part)\",\"zip\":\"190014\"}', NULL, NULL, NULL, 0, 
NULL, NULL, '2026-01-19 10:26:26', '2026-01-19 
10:26:26'),
  database\schema.sql:442:(7, 'ORD-69711BF09CC2F', 2, 
NULL, 349.00, 0.00, 30.00, 417.00, 0.00, 'cod', 
'pending', '', 'confirmed', '{\"name\":\"irfan manzoor\",
\"email\":\"drop.mail.iry@gmail.com\",\"phone\":\"+916006
801960\",\"address\":\"sector 7 gulberg colony 
hyderpora\",\"city\":\"Srinagar (M Corp. + OG) 
(Part)\",\"zip\":\"190014\"}', NULL, NULL, NULL, 3, 
NULL, NULL, '2026-01-21 18:33:20', '2026-01-23 
09:48:53'),
  database\schema.sql:443:(9, 'TEST-GUEST-2', NULL, 
NULL, 100.00, 0.00, 0.00, 100.00, 0.00, 'cod', 
'pending', NULL, 'confirmed', 'test address', NULL, 
NULL, NULL, NULL, NULL, NULL, '2026-01-21 18:54:52', 
'2026-01-23 09:48:44'),
  database\schema.sql:444:(10, 'ORD-697121A9A4E4A', 
NULL, NULL, 299.00, 0.00, 30.00, 362.00, 0.00, 'cod', 
'pending', '', 'shipped', '{\"name\":\"irfan manzoor\",\"
email\":\"drop.mail.iry@gmail.com\",\"phone\":\"+91600680
1960\",\"address\":\"sector 7 gulberg colony 
hyderpora\",\"city\":\"Srinagar (M Corp. + OG) 
(Part)\",\"zip\":\"190014\"}', NULL, NULL, NULL, 3, 
NULL, NULL, '2026-01-21 18:57:45', '2026-01-23 
09:49:10'),
  database\schema.sql:445:(11, 'ORD-6971FEB00D7F6', 
NULL, NULL, 349.00, 0.00, 30.00, 417.00, 0.00, 'cod', 
'pending', '', 'pending', '{\"name\":\"irfan manzoor\",\"
email\":\"drop.mail.iry@gmail.com\",\"phone\":\"+91600680
1960\",\"address\":\"sector 7 gulberg colony 
hyderpora\",\"city\":\"Srinagar (M Corp. + OG) 
(Part)\",\"zip\":\"190014\"}', NULL, NULL, NULL, 3, 
NULL, NULL, '2026-01-22 10:40:48', '2026-01-23 
10:23:15'),
  database\schema.sql:446:(12, 'ORD-6972214827268', 1, 
NULL, 6020.00, 0.00, 30.00, 6655.00, 0.00, 'cod', 
'pending', '', 'shipped', '{\"name\":\"irfan manzoor\",\"
email\":\"drop.mail.iry@gmail.com\",\"phone\":\"+91600680
1960\",\"address\":\"sector 7 gulberg colony 
hyderpora\",\"city\":\"Srinagar (M Corp. + OG) 
(Part)\",\"zip\":\"190014\"}', NULL, NULL, NULL, 0, 
NULL, NULL, '2026-01-22 13:08:24', '2026-01-23 
09:49:06'),
  database\schema.sql:447:(13, 'ORD-6972466368CEF', 
NULL, 1, 5121.00, 512.00, 0.00, 5070.00, 460.00, 'cod', 
'pending', '', 'delivered', '{\"name\":\"irfan manzoor\",
\"email\":\"drop.mail.iry@gmail.com\",\"phone\":\"+916006
801960\",\"address\":\"sector 7 gulberg colony 
hyderpora\",\"city\":\"Srinagar (M Corp. + OG) 
(Part)\",\"zip\":\"190014\"}', NULL, NULL, NULL, 0, 
NULL, NULL, '2026-01-22 15:46:43', '2026-01-23 
10:25:05'),
  database\schema.sql:448:(14, 'ORD-69735E6875CBB', 
NULL, NULL, 2495.00, 0.00, 35.00, 2783.00, 0.00, 'cod', 
'pending', '', 'pending', '{\"name\":\"irfan manzoor\",\"
email\":\"drop.mail.iry@gmail.com\",\"phone\":\"+91600680
1960\",\"address\":\"sector 7 gulberg colony 
hyderpora\",\"city\":\"Srinagar (M Corp. + OG) 
(Part)\",\"state\":\"Jammu and 
Kashmir\",\"zip\":\"190014\"}', NULL, NULL, NULL, 5, 
NULL, NULL, '2026-01-23 11:41:28', '2026-01-23 
11:41:28');
  database\schema.sql:449:
> database\schema.sql:450:-- 
--------------------------------------------------------
  database\schema.sql:451:
  database\schema.sql:452:--
  database\schema.sql:453:-- Table structure for table 
`order_items`
  database\schema.sql:454:--
  database\schema.sql:455:
  database\schema.sql:456:CREATE TABLE `order_items` (
  database\schema.sql:457:  `id` int(11) NOT NULL,
  database\schema.sql:458:  `order_id` int(11) NOT NULL,
  database\schema.sql:459:  `product_id` int(11) NOT 
NULL,
  database\schema.sql:460:  `quantity` int(11) NOT NULL,
  database\schema.sql:461:  `price` decimal(10,2) NOT 
NULL,
  database\schema.sql:462:  `subtotal` decimal(10,2) NOT 
NULL,
  database\schema.sql:463:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp()
  database\schema.sql:464:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:465:
  database\schema.sql:466:--
  database\schema.sql:467:-- Dumping data for table 
`order_items`
  database\schema.sql:468:--
  database\schema.sql:469:
  database\schema.sql:470:INSERT INTO `order_items` 
(`id`, `order_id`, `product_id`, `quantity`, `price`, 
`subtotal`, `created_at`) VALUES
  database\schema.sql:471:(6, 4, 11, 1, 349.00, 349.00, 
'2026-01-17 15:01:06'),
  database\schema.sql:472:(7, 5, 10, 1, 299.00, 299.00, 
'2026-01-19 09:15:13'),
  database\schema.sql:473:(8, 6, 11, 1, 349.00, 349.00, 
'2026-01-19 10:26:26'),
  database\schema.sql:474:(9, 6, 10, 1, 299.00, 299.00, 
'2026-01-19 10:26:26'),
  database\schema.sql:475:(10, 7, 11, 1, 349.00, 349.00, 
'2026-01-21 18:33:20'),
  database\schema.sql:476:(11, 10, 10, 1, 299.00, 
299.00, '2026-01-21 18:57:45'),
  database\schema.sql:477:(12, 11, 11, 1, 349.00, 
349.00, '2026-01-22 10:40:48'),
  database\schema.sql:478:(13, 12, 16, 1, 799.00, 
799.00, '2026-01-22 13:08:24'),
  database\schema.sql:479:(14, 12, 19, 1, 459.00, 
459.00, '2026-01-22 13:08:24'),
  database\schema.sql:480:(15, 12, 18, 1, 749.00, 
749.00, '2026-01-22 13:08:24'),
  database\schema.sql:481:(16, 12, 14, 1, 269.00, 
269.00, '2026-01-22 13:08:24'),
  database\schema.sql:482:(17, 12, 15, 1, 899.00, 
899.00, '2026-01-22 13:08:24'),
  database\schema.sql:483:(18, 12, 20, 1, 1499.00, 
1499.00, '2026-01-22 13:08:24'),
  database\schema.sql:484:(19, 12, 17, 1, 499.00, 
499.00, '2026-01-22 13:08:24'),
  database\schema.sql:485:(20, 12, 10, 1, 299.00, 
299.00, '2026-01-22 13:08:24'),
  database\schema.sql:486:(21, 12, 12, 1, 199.00, 
199.00, '2026-01-22 13:08:24'),
  database\schema.sql:487:(22, 12, 11, 1, 349.00, 
349.00, '2026-01-22 13:08:24'),
  database\schema.sql:488:(23, 13, 12, 1, 199.00, 
199.00, '2026-01-22 15:46:43'),
  database\schema.sql:489:(24, 13, 14, 1, 269.00, 
269.00, '2026-01-22 15:46:43'),
  database\schema.sql:490:(25, 13, 18, 1, 749.00, 
749.00, '2026-01-22 15:46:43'),
  database\schema.sql:491:(26, 13, 19, 1, 459.00, 
459.00, '2026-01-22 15:46:43'),
  database\schema.sql:492:(27, 13, 17, 1, 499.00, 
499.00, '2026-01-22 15:46:43'),
  database\schema.sql:493:(28, 13, 16, 1, 799.00, 
799.00, '2026-01-22 15:46:43'),
  database\schema.sql:494:(29, 13, 10, 1, 299.00, 
299.00, '2026-01-22 15:46:43'),
  database\schema.sql:495:(30, 13, 11, 1, 349.00, 
349.00, '2026-01-22 15:46:43'),
  database\schema.sql:496:(31, 13, 20, 1, 1499.00, 
1499.00, '2026-01-22 15:46:43'),
  database\schema.sql:497:(32, 14, 11, 1, 349.00, 
349.00, '2026-01-23 11:41:28'),
  database\schema.sql:498:(33, 14, 12, 1, 199.00, 
199.00, '2026-01-23 11:41:28'),
  database\schema.sql:499:(34, 14, 15, 1, 899.00, 
899.00, '2026-01-23 11:41:28'),
  database\schema.sql:500:(35, 14, 18, 1, 749.00, 
749.00, '2026-01-23 11:41:28'),
> database\schema.sql:503:-- 
--------------------------------------------------------
  database\schema.sql:504:
  database\schema.sql:505:--
  database\schema.sql:506:-- Table structure for table 
`order_status_history`
  database\schema.sql:507:--
  database\schema.sql:508:
  database\schema.sql:509:CREATE TABLE 
`order_status_history` (
  database\schema.sql:510:  `id` int(11) NOT NULL,
  database\schema.sql:511:  `order_id` int(11) NOT NULL,
  database\schema.sql:512:  `status` varchar(50) NOT 
NULL,
  database\schema.sql:513:  `notes` text DEFAULT NULL,
  database\schema.sql:514:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp()
  database\schema.sql:515:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:516:
  database\schema.sql:517:--
  database\schema.sql:518:-- Dumping data for table 
`order_status_history`
  database\schema.sql:519:--
  database\schema.sql:520:
  database\schema.sql:521:INSERT INTO 
`order_status_history` (`id`, `order_id`, `status`, 
`notes`, `created_at`) VALUES
  database\schema.sql:522:(1, 4, 'pending', 'Order 
placed successfully', '2026-01-17 15:01:06'),
  database\schema.sql:523:(2, 4, 'confirmed', 'Order 
status updated to confirmed by admin.', '2026-01-17 
15:02:46'),
  database\schema.sql:524:(3, 5, 'pending', 'Order 
placed successfully', '2026-01-19 09:15:13'),
  database\schema.sql:525:(4, 5, 'confirmed', 'Order 
status updated to confirmed by admin.', '2026-01-19 
10:02:19'),
  database\schema.sql:526:(5, 5, 'shipped', 'Order 
dispatched via India Post. Tracking Number: 
ORD-696DF621C44E6. Note: you parcel has been confirmed', 
'2026-01-19 10:05:00'),
  database\schema.sql:527:(6, 6, 'pending', 'Order 
placed successfully', '2026-01-19 10:26:26'),
  database\schema.sql:528:(7, 7, 'pending', 'Order 
placed successfully', '2026-01-21 18:33:20'),
  database\schema.sql:529:(8, 10, 'pending', 'Order 
placed successfully', '2026-01-21 18:57:45'),
  database\schema.sql:530:(9, 11, 'pending', 'Order 
placed successfully', '2026-01-22 10:40:48'),
  database\schema.sql:531:(10, 12, 'pending', 'Order 
placed successfully', '2026-01-22 13:08:24'),
  database\schema.sql:532:(11, 13, 'pending', 'Order 
placed successfully', '2026-01-22 15:46:43'),
  database\schema.sql:533:(12, 9, 'confirmed', 'Order 
status updated to confirmed by admin.', '2026-01-23 
09:48:44'),
  database\schema.sql:534:(13, 13, 'delivered', 'Order 
status updated to delivered by admin.', '2026-01-23 
09:48:48'),
  database\schema.sql:535:(14, 7, 'confirmed', 'Order 
status updated to confirmed by admin.', '2026-01-23 
09:48:53'),
  database\schema.sql:536:(15, 11, 'delivered', 'Order 
status updated to delivered by admin.', '2026-01-23 
09:49:03'),
  database\schema.sql:537:(16, 12, 'shipped', 'Order 
status updated to shipped by admin.', '2026-01-23 
09:49:06'),
  database\schema.sql:538:(17, 10, 'shipped', 'Order 
status updated to shipped by admin.', '2026-01-23 
09:49:10'),
  database\schema.sql:539:(18, 2, 'confirmed', 'Order 
status updated to confirmed by admin.', '2026-01-23 
09:49:23'),
  database\schema.sql:540:(19, 1, 'cancelled', 'Order 
status updated to cancelled by admin.', '2026-01-23 
09:50:29'),
  database\schema.sql:541:(20, 3, 'confirmed', 'Order 
status updated to confirmed by admin.', '2026-01-23 
09:50:37'),
  database\schema.sql:542:(21, 13, 'shipped', 'Order 
status updated to shipped by admin via AJAX.', 
'2026-01-23 09:59:35'),
  database\schema.sql:543:(22, 13, 'pending', 'Order 
status updated to pending by admin via AJAX.', 
'2026-01-23 10:13:11'),
  database\schema.sql:544:(23, 13, 'confirmed', 'Order 
status updated to confirmed by admin via AJAX.', 
'2026-01-23 10:13:16'),
  database\schema.sql:545:(24, 13, 'pending', 'Order 
status updated to pending by admin via AJAX.', 
'2026-01-23 10:13:21'),
  database\schema.sql:546:(25, 13, 'confirmed', 'Order 
status updated to confirmed by admin via AJAX.', 
'2026-01-23 10:23:12'),
  database\schema.sql:547:(26, 11, 'pending', 'Order 
status updated to pending by admin via AJAX.', 
'2026-01-23 10:23:15'),
  database\schema.sql:548:(27, 13, 'delivered', 'Order 
status updated to delivered by admin via AJAX', 
'2026-01-23 10:25:05'),
  database\schema.sql:549:(28, 2, 'pending', 'Order 
status updated to pending by admin via AJAX', 
'2026-01-23 10:25:12'),
  database\schema.sql:550:(29, 1, 'delivered', 'Order 
status updated to delivered by admin via AJAX', 
'2026-01-23 10:25:16'),
  database\schema.sql:551:(30, 2, 'cancelled', 'Order 
status updated to cancelled by admin via AJAX', 
'2026-01-23 10:25:21'),
  database\schema.sql:552:(31, 14, 'pending', 'Order 
placed successfully', '2026-01-23 11:41:28');
  database\schema.sql:553:
> database\schema.sql:554:-- 
--------------------------------------------------------
  database\schema.sql:555:
  database\schema.sql:556:--
  database\schema.sql:557:-- Table structure for table 
`password_resets`
  database\schema.sql:558:--
  database\schema.sql:559:
  database\schema.sql:560:CREATE TABLE `password_resets` 
(
  database\schema.sql:561:  `id` int(11) NOT NULL,
  database\schema.sql:562:  `email` varchar(255) NOT 
NULL,
  database\schema.sql:563:  `token` varchar(255) NOT 
NULL,
  database\schema.sql:564:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp()
  database\schema.sql:565:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:566:
  database\schema.sql:567:--
  database\schema.sql:568:-- Dumping data for table 
`password_resets`
  database\schema.sql:569:--
  database\schema.sql:570:
  database\schema.sql:571:INSERT INTO `password_resets` 
(`id`, `email`, `token`, `created_at`) VALUES
  database\schema.sql:572:(5, 'drop.mail.iry@gmail.com', 
'32898d851fe92ba5c6d5693ac0af67cb209929327bb5e3927089e154
f339fe50', '2026-01-20 17:09:01');
  database\schema.sql:573:
> database\schema.sql:574:-- 
--------------------------------------------------------
  database\schema.sql:575:
  database\schema.sql:576:--
  database\schema.sql:577:-- Table structure for table 
`products`
  database\schema.sql:578:--
  database\schema.sql:579:
  database\schema.sql:580:CREATE TABLE `products` (
  database\schema.sql:581:  `id` int(11) NOT NULL,
  database\schema.sql:582:  `category_id` int(11) NOT 
NULL,
  database\schema.sql:583:  `name` varchar(255) NOT NULL,
  database\schema.sql:584:  `slug` varchar(255) NOT NULL,
  database\schema.sql:585:  `description` text DEFAULT 
NULL,
  database\schema.sql:586:  `ingredients` text DEFAULT 
NULL,
  database\schema.sql:587:  `nutritional_info` text 
DEFAULT NULL,
  database\schema.sql:588:  `weight` varchar(50) DEFAULT 
NULL,
  database\schema.sql:589:  `shelf_life` varchar(100) 
DEFAULT NULL,
  database\schema.sql:590:  `storage_instructions` text 
DEFAULT NULL,
  database\schema.sql:591:  `image` varchar(500) DEFAULT 
NULL,
  database\schema.sql:592:  `bg_color` varchar(20) 
DEFAULT NULL,
  database\schema.sql:593:  `price` decimal(10,2) NOT 
NULL,
  database\schema.sql:594:  `original_price` 
decimal(10,2) DEFAULT NULL,
  database\schema.sql:595:  `discount_percentage` 
int(11) DEFAULT 0,
  database\schema.sql:596:  `stock` int(11) DEFAULT 0,
  database\schema.sql:597:  `sku` varchar(100) DEFAULT 
NULL,
  database\schema.sql:598:  `is_active` tinyint(1) 
DEFAULT 1,
  database\schema.sql:599:  `is_featured` tinyint(1) 
DEFAULT 0,
  database\schema.sql:600:  `is_new` tinyint(1) DEFAULT 
0,
  database\schema.sql:601:  `is_vegetarian` tinyint(1) 
DEFAULT 1,
  database\schema.sql:602:  `country_of_origin` 
varchar(100) DEFAULT 'India',
  database\schema.sql:603:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp(),
  database\schema.sql:604:  `updated_at` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp()
  database\schema.sql:605:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:606:
  database\schema.sql:607:--
  database\schema.sql:608:-- Dumping data for table 
`products`
  database\schema.sql:609:--
  database\schema.sql:610:
  database\schema.sql:611:INSERT INTO `products` (`id`, 
`category_id`, `name`, `slug`, `description`, 
`ingredients`, `nutritional_info`, `weight`, 
`shelf_life`, `storage_instructions`, `image`, 
`bg_color`, `price`, `original_price`, 
`discount_percentage`, `stock`, `sku`, `is_active`, 
`is_featured`, `is_new`, `is_vegetarian`, 
`country_of_origin`, `created_at`, `updated_at`) VALUES
  database\schema.sql:612:(10, 1, 'Kashmiri Apple 
Rings', 'apple', '', '[\"dired apples\"]', 
'{\"protein\":\"50g\",\"fat\":\"20g\"}', '0.500', NULL, 
NULL, 'assets/images/products/prod_696bbf988ab2c.webp', 
'', 299.00, 350.00, 0, 6, NULL, 1, 1, 0, 1, 'India', 
'2026-01-17 14:47:53', '2026-01-23 11:41:28'),
  database\schema.sql:613:(11, 1, 'Premium Kiwi Slices', 
'kiwi', '', '', 'calories 45g\\r\\nenergy 200kcl', 
'0.500', NULL, NULL, 
'assets/images/products/prod_696bc03e18959.webp', NULL, 
349.00, 460.00, 0, 25, NULL, 1, 1, 0, 1, 'India', 
'2026-01-17 14:47:53', '2026-01-23 11:41:28'),
  database\schema.sql:614:(12, 1, 'Dried Banana Coins', 
'banana', '', '', 'calories 45g\\r\\nenergy 200kcl', 
'0.500', NULL, NULL, 
'assets/images/products/prod_696bbfd448da6.webp', NULL, 
199.00, 249.00, 0, 7, NULL, 1, 1, 0, 1, 'India', 
'2026-01-17 14:47:53', '2026-01-23 11:41:28'),
  database\schema.sql:615:(13, 2, 'Al Hach (Bottle 
Gourd)', 'al-hach', '', '', '', '0.500', NULL, NULL, 
'assets/images/products/al-hach.jpg', '', 249.00, 0.00, 
0, 10, NULL, 1, 1, 0, 1, 'India', '2026-01-17 14:47:53', 
'2026-01-23 10:46:25'),
  database\schema.sql:616:(14, 2, 'Vangan Hach 
(Brinjal)', 'vangan-hach', '', '', '', '0.500', NULL, 
NULL, 'assets/images/products/prod_696dfd6db00d7.webp', 
'', 269.00, 300.00, 0, 28, NULL, 1, 1, 0, 1, 'India', 
'2026-01-17 14:47:53', '2026-01-23 10:46:25'),
  database\schema.sql:617:(15, 3, '3 Pack Kiwi', 
'3-pack-kiwi', '', '', 'calories 45g\\r\\nenergy 
200kcl', '0.500', NULL, NULL, 
'assets/images/products/prod_696bc17061792.webp', NULL, 
899.00, 1200.00, 0, 28, NULL, 1, 0, 0, 1, 'India', 
'2026-01-17 14:47:53', '2026-01-23 11:41:28'),
  database\schema.sql:618:(16, 3, '3 Pack Apple', 
'3-pack-apple', '', '', 'calories 45g\\r\\nenergy 
200kcl', '0.500', NULL, NULL, 
'assets/images/products/prod_696bc01148a86.webp', NULL, 
799.00, 950.00, 0, 18, NULL, 1, 0, 0, 1, 'India', 
'2026-01-17 14:47:53', '2026-01-23 10:46:25'),
  database\schema.sql:619:(17, 3, '3 Pack Banana', 
'3-pack-banana', '', '', 'calories 45g\\\\r\\\\nenergy 
200kcl\\\\r\\\\nprotein 40g', '0.500', NULL, NULL, 
'assets/images/products/prod_696bbf7459ad8.webp', NULL, 
499.00, 550.00, 0, 12, NULL, 1, 0, 0, 1, 'India', 
'2026-01-17 14:47:53', '2026-01-23 10:46:25'),
  database\schema.sql:620:(18, 3, '3 Pack Mix (1 each)', 
'3-pack-mix', '', '', 'calories 45g\\r\\nenergy 200kcl', 
'0.500', NULL, NULL, 
'assets/images/products/prod_696bbf2aa1462.webp', NULL, 
749.00, 900.00, 0, 12, NULL, 1, 0, 0, 1, 'India', 
'2026-01-17 14:47:53', '2026-01-23 11:41:28'),
  database\schema.sql:621:(19, 3, '2 Mix Al Hach + 
Vangan Hach', 'veggie-combo', '', '100 % natural', 
'calories 45g\\\\r\\\\nenergy 200kcl', '0.500', NULL, 
NULL, 'assets/images/products/prod_696bbecfabf45.webp', 
NULL, 459.00, 550.00, 0, 12, NULL, 1, 0, 0, 1, 'India', 
'2026-01-17 14:47:53', '2026-01-23 10:46:25'),
  database\schema.sql:622:(20, 3, 'The Grand Driyum 
Hamper', 'grand-hamper', '', '[\"protein   20g\"]', '', 
'0.500', NULL, NULL, 
'assets/images/products/prod_696bbe13eb874.webp', 
'#F0FDFA', 1499.00, 1799.00, 0, 10, NULL, 1, 0, 0, 1, 
'India', '2026-01-17 14:47:53', '2026-01-23 10:46:25');
  database\schema.sql:623:
> database\schema.sql:624:-- 
--------------------------------------------------------
  database\schema.sql:625:
  database\schema.sql:626:--
  database\schema.sql:627:-- Table structure for table 
`product_images`
  database\schema.sql:628:--
  database\schema.sql:629:
  database\schema.sql:630:CREATE TABLE `product_images` (
  database\schema.sql:631:  `id` int(11) NOT NULL,
  database\schema.sql:632:  `product_id` int(11) NOT 
NULL,
  database\schema.sql:633:  `image_path` varchar(500) 
NOT NULL,
  database\schema.sql:634:  `sort_order` int(11) DEFAULT 
0,
  database\schema.sql:635:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp()
  database\schema.sql:636:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:637:
  database\schema.sql:638:--
  database\schema.sql:639:-- Dumping data for table 
`product_images`
  database\schema.sql:640:--
  database\schema.sql:641:
  database\schema.sql:642:INSERT INTO `product_images` 
(`id`, `product_id`, `image_path`, `sort_order`, 
`created_at`) VALUES
  database\schema.sql:643:(1, 20, 
'assets/images/products/g_696bbe1400eaf.webp', 0, 
'2026-01-17 16:51:32'),
  database\schema.sql:644:(2, 20, 
'assets/images/products/g_696bbe140326d.webp', 0, 
'2026-01-17 16:51:32'),
  database\schema.sql:645:(3, 20, 
'assets/images/products/g_696bbe1403e67.webp', 0, 
'2026-01-17 16:51:32'),
  database\schema.sql:646:(4, 20, 
'assets/images/products/g_696bbe1404ebd.webp', 0, 
'2026-01-17 16:51:32'),
  database\schema.sql:647:(5, 20, 
'assets/images/products/g_696bbe1408866.webp', 0, 
'2026-01-17 16:51:32'),
  database\schema.sql:648:(6, 19, 
'assets/images/products/g_696bbec42286a.webp', 0, 
'2026-01-17 16:54:28'),
  database\schema.sql:649:(7, 19, 
'assets/images/products/g_696bbec42354a.webp', 0, 
'2026-01-17 16:54:28'),
  database\schema.sql:650:(9, 19, 
'assets/images/products/g_696bbec426143.webp', 0, 
'2026-01-17 16:54:28'),
  database\schema.sql:651:(11, 19, 
'assets/images/products/g_696bbecfad5e3.webp', 0, 
'2026-01-17 16:54:39'),
  database\schema.sql:652:(13, 19, 
'assets/images/products/g_696bbecfaf81d.webp', 0, 
'2026-01-17 16:54:39'),
  database\schema.sql:653:(14, 19, 
'assets/images/products/g_696bbecfb074d.webp', 0, 
'2026-01-17 16:54:39'),
  database\schema.sql:654:(15, 19, 
'assets/images/products/g_696bbecfb1764.webp', 0, 
'2026-01-17 16:54:39'),
  database\schema.sql:655:(16, 18, 
'assets/images/products/g_696bbf2aa2c29.webp', 0, 
'2026-01-17 16:56:10'),
  database\schema.sql:656:(17, 18, 
'assets/images/products/g_696bbf2aa3b44.webp', 0, 
'2026-01-17 16:56:10'),
  database\schema.sql:657:(18, 18, 
'assets/images/products/g_696bbf2aa52a2.webp', 0, 
'2026-01-17 16:56:10'),
  database\schema.sql:658:(19, 18, 
'assets/images/products/g_696bbf2aa5f0f.webp', 0, 
'2026-01-17 16:56:10'),
  database\schema.sql:659:(20, 18, 
'assets/images/products/g_696bbf2aa6d92.webp', 0, 
'2026-01-17 16:56:10'),
  database\schema.sql:660:(21, 17, 
'assets/images/products/g_696bbf745b3cc.webp', 0, 
'2026-01-17 16:57:24'),
  database\schema.sql:661:(22, 17, 
'assets/images/products/g_696bbf745c042.webp', 0, 
'2026-01-17 16:57:24'),
  database\schema.sql:662:(23, 17, 
'assets/images/products/g_696bbf745cb4e.webp', 0, 
'2026-01-17 16:57:24'),
  database\schema.sql:663:(24, 17, 
'assets/images/products/g_696bbf745d92e.webp', 0, 
'2026-01-17 16:57:24'),
  database\schema.sql:664:(25, 17, 
'assets/images/products/g_696bbf745e5e2.webp', 0, 
'2026-01-17 16:57:24'),
  database\schema.sql:665:(26, 10, 
'assets/images/products/g_696bbf988cb77.webp', 0, 
'2026-01-17 16:58:00'),
  database\schema.sql:666:(27, 10, 
'assets/images/products/g_696bbf988d8c4.webp', 0, 
'2026-01-17 16:58:00'),
  database\schema.sql:667:(28, 10, 
'assets/images/products/g_696bbf988e505.webp', 0, 
'2026-01-17 16:58:00'),
  database\schema.sql:668:(29, 10, 
'assets/images/products/g_696bbf988f172.webp', 0, 
'2026-01-17 16:58:00'),
  database\schema.sql:669:(30, 10, 
'assets/images/products/g_696bbf989023d.webp', 0, 
'2026-01-17 16:58:00'),
  database\schema.sql:670:(31, 12, 
'assets/images/products/g_696bbfd44a127.webp', 0, 
'2026-01-17 16:59:00'),
  database\schema.sql:671:(32, 12, 
'assets/images/products/g_696bbfd44ae52.webp', 0, 
'2026-01-17 16:59:00'),
  database\schema.sql:672:(33, 12, 
'assets/images/products/g_696bbfd44be70.webp', 0, 
'2026-01-17 16:59:00'),
  database\schema.sql:673:(34, 12, 
'assets/images/products/g_696bbfd44d4e2.webp', 0, 
'2026-01-17 16:59:00'),
  database\schema.sql:674:(35, 12, 
'assets/images/products/g_696bbfd44e09f.webp', 0, 
'2026-01-17 16:59:00'),
> database\schema.sql:695:-- 
--------------------------------------------------------
  database\schema.sql:696:
  database\schema.sql:697:--
  database\schema.sql:698:-- Table structure for table 
`product_reviews`
  database\schema.sql:699:--
  database\schema.sql:700:
  database\schema.sql:701:CREATE TABLE `product_reviews` 
(
  database\schema.sql:702:  `id` int(11) NOT NULL,
  database\schema.sql:703:  `product_id` int(11) NOT 
NULL,
  database\schema.sql:704:  `user_id` int(11) NOT NULL,
  database\schema.sql:705:  `rating` int(11) NOT NULL 
CHECK (`rating` between 1 and 5),
  database\schema.sql:706:  `title` varchar(255) DEFAULT 
NULL,
  database\schema.sql:707:  `comment` text DEFAULT NULL,
  database\schema.sql:708:  `is_verified` tinyint(1) 
DEFAULT 0,
  database\schema.sql:709:  `is_approved` tinyint(1) 
DEFAULT 0,
  database\schema.sql:710:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp()
  database\schema.sql:711:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:712:
> database\schema.sql:713:-- 
--------------------------------------------------------
  database\schema.sql:714:
  database\schema.sql:715:--
  database\schema.sql:716:-- Table structure for table 
`reviews`
  database\schema.sql:717:--
  database\schema.sql:718:
  database\schema.sql:719:CREATE TABLE `reviews` (
  database\schema.sql:720:  `id` int(11) NOT NULL,
  database\schema.sql:721:  `product_id` int(11) NOT 
NULL,
  database\schema.sql:722:  `user_id` int(11) NOT NULL,
  database\schema.sql:723:  `rating` int(11) DEFAULT 5,
  database\schema.sql:724:  `comment` text DEFAULT NULL,
  database\schema.sql:725:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp()
  database\schema.sql:726:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:727:
  database\schema.sql:728:--
  database\schema.sql:729:-- Dumping data for table 
`reviews`
  database\schema.sql:730:--
  database\schema.sql:731:
  database\schema.sql:732:INSERT INTO `reviews` (`id`, 
`product_id`, `user_id`, `rating`, `comment`, 
`created_at`) VALUES
  database\schema.sql:733:(2, 10, 2, 1, 'worst product', 
'2026-01-23 11:15:24'),
  database\schema.sql:734:(3, 10, 2, 4, 'nice product', 
'2026-01-23 11:15:33'),
  database\schema.sql:735:(4, 10, 2, 5, 'best product ', 
'2026-01-23 11:15:43'),
  database\schema.sql:736:(7, 10, 2, 5, 'i loved the 
product', '2026-01-23 11:16:43');
  database\schema.sql:737:
> database\schema.sql:738:-- 
--------------------------------------------------------
  database\schema.sql:739:
  database\schema.sql:740:--
  database\schema.sql:741:-- Table structure for table 
`sale_countdowns`
  database\schema.sql:742:--
  database\schema.sql:743:
  database\schema.sql:744:CREATE TABLE `sale_countdowns` 
(
  database\schema.sql:745:  `id` int(11) NOT NULL,
  database\schema.sql:746:  `title` varchar(255) NOT 
NULL,
  database\schema.sql:747:  `end_date` datetime NOT NULL,
  database\schema.sql:748:  `is_active` tinyint(1) 
DEFAULT 1,
  database\schema.sql:749:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp(),
  database\schema.sql:750:  `updated_at` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp()
  database\schema.sql:751:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:752:
  database\schema.sql:753:--
  database\schema.sql:754:-- Dumping data for table 
`sale_countdowns`
  database\schema.sql:755:--
  database\schema.sql:756:
  database\schema.sql:757:INSERT INTO `sale_countdowns` 
(`id`, `title`, `end_date`, `is_active`, `created_at`, 
`updated_at`) VALUES
  database\schema.sql:758:(1, ' MEGA SALE - Up to 50% 
OFF', '2026-01-24 00:27:00', 1, '2026-01-16 18:57:45', 
'2026-01-17 09:11:48');
  database\schema.sql:759:
> database\schema.sql:760:-- 
--------------------------------------------------------
  database\schema.sql:761:
  database\schema.sql:762:--
  database\schema.sql:763:-- Table structure for table 
`settings`
  database\schema.sql:764:--
  database\schema.sql:765:
  database\schema.sql:766:CREATE TABLE `settings` (
  database\schema.sql:767:  `key` varchar(100) NOT NULL,
  database\schema.sql:768:  `value` text DEFAULT NULL,
  database\schema.sql:769:  `updated_at` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp()
  database\schema.sql:770:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:771:
  database\schema.sql:772:--
  database\schema.sql:773:-- Dumping data for table 
`settings`
  database\schema.sql:774:--
  database\schema.sql:775:
  database\schema.sql:776:INSERT INTO `settings` (`key`, 
`value`, `updated_at`) VALUES
  database\schema.sql:777:('announcement_text', '🍎FREE 
SHIPPING ON ORDERS ABOVE 500  🍌 SUBSCRIBE TO DRIYUM 
🥝', '2026-01-23 09:35:54'),
  database\schema.sql:778:('facebook_url', 'https://www.f
acebook.com/people/Driyum-Foods/61585416636650/?mibextid=
wwXIfr&amp;rdid=BDRmnaJ3qy4ccL3W&amp;share_url=https%3A%2
F%2Fwww.facebook.com%2Fshare%2F1DPT8KEgt7%2F%3Fmibextid%3
DwwXIfr', '2026-01-23 09:46:25'),
  database\schema.sql:779:('footer_description', 
'Redefining the art of snacking with premium, 
mountain-fresh indulgence. Naturally sweet, 
unapologetically bold.', '2026-01-19 10:55:09'),
  database\schema.sql:780:('free_shipping_threshold', 
'500', '2026-01-19 10:41:25'),
  database\schema.sql:781:('instagram_url', 'https://www.
instagram.com/driyumfoods?utm_source=ig_web_button_share_
sheet&amp;igsh=ZDNlZDc0MzIxNw%3D%3D', '2026-01-23 
09:46:25'),
  database\schema.sql:782:('last_cron_run', 
'1769191233', '2026-01-23 18:00:33'),
  database\schema.sql:783:('maintenance_mode', 'off', 
'2026-01-20 14:01:12'),
  database\schema.sql:784:('order_prefix', '', 
'2026-01-19 10:41:37'),
  database\schema.sql:785:('pinterest_url', '#', 
'2026-01-19 10:53:08'),
  database\schema.sql:786:('seo_description', '', 
'2026-01-19 10:41:37'),
  database\schema.sql:787:('store_name', 'DRIYUM', 
'2026-01-19 10:41:25'),
  database\schema.sql:788:('support_email', 
'contact@driyum.com', '2026-01-19 10:41:25'),
  database\schema.sql:789:('support_phone', '+91 91030 
00000', '2026-01-19 10:41:25'),
  database\schema.sql:790:('tax_percentage', '10', 
'2026-01-19 10:45:57'),
  database\schema.sql:791:('twitter_url', '#', 
'2026-01-19 10:53:08'),
  database\schema.sql:792:('whatsapp_number', 
'6006801960', '2026-01-22 15:01:17'),
  database\schema.sql:793:('youtube_url', '#', 
'2026-01-19 10:53:08');
  database\schema.sql:794:
> database\schema.sql:795:-- 
--------------------------------------------------------
  database\schema.sql:796:
  database\schema.sql:797:--
  database\schema.sql:798:-- Table structure for table 
`shipping_methods`
  database\schema.sql:799:--
  database\schema.sql:800:
  database\schema.sql:801:CREATE TABLE 
`shipping_methods` (
  database\schema.sql:802:  `id` int(11) NOT NULL,
  database\schema.sql:803:  `carrier_name` varchar(255) 
NOT NULL,
  database\schema.sql:804:  `display_name` varchar(255) 
NOT NULL,
  database\schema.sql:805:  `min_days` int(11) NOT NULL,
  database\schema.sql:806:  `max_days` int(11) NOT NULL,
  database\schema.sql:807:  `charge_type` 
enum('flat','weight_based','zone_based') NOT NULL,
  database\schema.sql:808:  `status` tinyint(1) DEFAULT 
1,
  database\schema.sql:809:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp(),
  database\schema.sql:810:  `updated_at` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp()
  database\schema.sql:811:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:812:
  database\schema.sql:813:--
  database\schema.sql:814:-- Dumping data for table 
`shipping_methods`
  database\schema.sql:815:--
  database\schema.sql:816:
  database\schema.sql:817:INSERT INTO `shipping_methods` 
(`id`, `carrier_name`, `display_name`, `min_days`, 
`max_days`, `charge_type`, `status`, `created_at`, 
`updated_at`) VALUES
  database\schema.sql:818:(4, 'India Post', 'India 
Post', 0, 0, 'weight_based', 1, '2026-01-22 12:54:22', 
'2026-01-22 13:05:31'),
  database\schema.sql:819:(5, 'India Post', 'India Post 
(Speed Post)', 0, 0, 'weight_based', 1, '2026-01-22 
12:54:57', '2026-01-22 12:54:57'),
  database\schema.sql:820:(6, 'India Post', 'India Post 
(Normal Delivery)', 0, 0, 'weight_based', 1, '2026-01-22 
12:54:57', '2026-01-22 12:54:57');
  database\schema.sql:821:
> database\schema.sql:822:-- 
--------------------------------------------------------
  database\schema.sql:823:
  database\schema.sql:824:--
  database\schema.sql:825:-- Table structure for table 
`shipping_rates`
  database\schema.sql:826:--
  database\schema.sql:827:
  database\schema.sql:828:CREATE TABLE `shipping_rates` (
  database\schema.sql:829:  `id` int(11) NOT NULL,
  database\schema.sql:830:  `method_id` int(11) NOT NULL,
  database\schema.sql:831:  `zone_id` int(11) NOT NULL,
  database\schema.sql:832:  `min_weight` decimal(10,3) 
NOT NULL,
  database\schema.sql:833:  `max_weight` decimal(10,3) 
NOT NULL,
  database\schema.sql:834:  `charge` decimal(10,2) NOT 
NULL
  database\schema.sql:835:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:836:
  database\schema.sql:837:--
  database\schema.sql:838:-- Dumping data for table 
`shipping_rates`
  database\schema.sql:839:--
  database\schema.sql:840:
  database\schema.sql:841:INSERT INTO `shipping_rates` 
(`id`, `method_id`, `zone_id`, `min_weight`, 
`max_weight`, `charge`) VALUES
  database\schema.sql:842:(17, 5, 7, 0.000, 0.250, 
30.00),
  database\schema.sql:843:(18, 5, 7, 0.251, 0.500, 
35.00),
  database\schema.sql:844:(19, 5, 7, 0.501, 1.000, 
50.00),
  database\schema.sql:845:(20, 6, 8, 0.000, 0.500, 
50.00),
  database\schema.sql:846:(21, 6, 8, 0.501, 1.000, 
65.00),
  database\schema.sql:847:(22, 6, 9, 0.000, 0.500, 
60.00),
  database\schema.sql:848:(23, 6, 9, 0.501, 1.000, 
100.00);
  database\schema.sql:849:
> database\schema.sql:850:-- 
--------------------------------------------------------
  database\schema.sql:851:
  database\schema.sql:852:--
  database\schema.sql:853:-- Table structure for table 
`shipping_zones`
  database\schema.sql:854:--
  database\schema.sql:855:
  database\schema.sql:856:CREATE TABLE `shipping_zones` (
  database\schema.sql:857:  `id` int(11) NOT NULL,
  database\schema.sql:858:  `zone_name` varchar(100) NOT 
NULL,
  database\schema.sql:859:  `pincode_ranges` text 
DEFAULT NULL,
  database\schema.sql:860:  `is_active` tinyint(1) 
DEFAULT 1,
  database\schema.sql:861:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp(),
  database\schema.sql:862:  `updated_at` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp(),
  database\schema.sql:863:  `min_days` int(11) DEFAULT 0,
  database\schema.sql:864:  `max_days` int(11) DEFAULT 0
  database\schema.sql:865:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:866:
  database\schema.sql:867:--
  database\schema.sql:868:-- Dumping data for table 
`shipping_zones`
  database\schema.sql:869:--
  database\schema.sql:870:
  database\schema.sql:871:INSERT INTO `shipping_zones` 
(`id`, `zone_name`, `pincode_ranges`, `is_active`, 
`created_at`, `updated_at`, `min_days`, `max_days`) 
VALUES
  database\schema.sql:872:(1, 'Local', '190001-190020', 
1, '2026-01-19 08:33:00', '2026-01-19 09:21:42', 0, 1),
  database\schema.sql:873:(2, 'State', '180000-190001', 
1, '2026-01-19 08:33:00', '2026-01-22 13:06:06', 2, 4),
  database\schema.sql:874:(3, 'National', 
'100001-999999', 1, '2026-01-19 08:33:00', '2026-01-19 
09:38:01', 5, 7),
  database\schema.sql:875:(4, 'Srinagar (Speed Post)', 
'190001-190035', 1, '2026-01-22 12:52:03', '2026-01-22 
12:52:03', 0, 2),
  database\schema.sql:876:(5, 'Outside Srinagar 
(Kashmir/Jammu)', '180001-189999,190036-194999', 1, 
'2026-01-22 12:52:58', '2026-01-22 12:52:58', 3, 4),
  database\schema.sql:877:(6, 'Outside State 
(National)', '110001-179999,200000-999999', 1, 
'2026-01-22 12:52:58', '2026-01-22 12:52:58', 5, 7),
  database\schema.sql:878:(7, 'Srinagar Local', 
'190001-190035', 1, '2026-01-22 12:54:57', '2026-01-22 
12:54:57', 0, 2),
  database\schema.sql:879:(8, 'Outside Srinagar', 
'180001-189999,190036-194999', 1, '2026-01-22 12:54:57', 
'2026-01-22 12:54:57', 3, 4),
  database\schema.sql:880:(9, 'Outside State', 
'110001-179999,200000-999999', 1, '2026-01-22 12:54:57', 
'2026-01-22 12:54:57', 5, 7);
  database\schema.sql:881:
> database\schema.sql:882:-- 
--------------------------------------------------------
  database\schema.sql:883:
  database\schema.sql:884:--
  database\schema.sql:885:-- Table structure for table 
`testimonials`
  database\schema.sql:886:--
  database\schema.sql:887:
  database\schema.sql:888:CREATE TABLE `testimonials` (
  database\schema.sql:889:  `id` int(11) NOT NULL,
  database\schema.sql:890:  `name` varchar(255) NOT NULL,
  database\schema.sql:891:  `location` varchar(255) 
DEFAULT NULL,
  database\schema.sql:892:  `message` text NOT NULL,
  database\schema.sql:893:  `rating` int(11) DEFAULT 5,
  database\schema.sql:894:  `is_active` tinyint(1) 
DEFAULT 1,
  database\schema.sql:895:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp()
  database\schema.sql:896:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:897:
  database\schema.sql:898:--
  database\schema.sql:899:-- Dumping data for table 
`testimonials`
  database\schema.sql:900:--
  database\schema.sql:901:
  database\schema.sql:902:INSERT INTO `testimonials` 
(`id`, `name`, `location`, `message`, `rating`, 
`is_active`, `created_at`) VALUES
  database\schema.sql:903:(1, 'Towfeeq Fayaz', 
'Hyderpora', 'Absolutely love the quality! The 
dehydrated fruits taste amazing and are so fresh.', 5, 
1, '2026-01-16 18:57:45'),
  database\schema.sql:904:(2, 'Fuzail Bhat', 
'Sanatnagar', 'Best Hokh Suin I have ever tasted. 
Reminds me of Kashmir!', 5, 1, '2026-01-16 18:57:45'),
  database\schema.sql:905:(3, 'Amreen Imtiyaz', 
'Lasjan', 'Great products and super fast delivery. 
Highly recommended!', 5, 1, '2026-01-16 18:57:45'),
  database\schema.sql:906:(4, 'Vikram Mehta', 'Pune', 
'Premium quality snacks. My kids love them!', 4, 1, 
'2026-01-16 18:57:45'),
  database\schema.sql:907:(5, 'irfan manzoor', 
'srinagar', 'Nice startup for health concious people ', 
5, 1, '2026-01-17 09:21:15');
  database\schema.sql:908:
> database\schema.sql:909:-- 
--------------------------------------------------------
  database\schema.sql:910:
  database\schema.sql:911:--
  database\schema.sql:912:-- Table structure for table 
`users`
  database\schema.sql:913:--
  database\schema.sql:914:
  database\schema.sql:915:CREATE TABLE `users` (
  database\schema.sql:916:  `id` int(11) NOT NULL,
  database\schema.sql:917:  `name` varchar(255) NOT NULL,
  database\schema.sql:918:  `email` varchar(255) NOT 
NULL,
  database\schema.sql:919:  `phone` varchar(20) DEFAULT 
NULL,
  database\schema.sql:920:  `password` varchar(255) NOT 
NULL,
  database\schema.sql:921:  `is_admin` tinyint(1) 
DEFAULT 0,
  database\schema.sql:922:  `is_active` tinyint(1) 
DEFAULT 1,
  database\schema.sql:923:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp(),
  database\schema.sql:924:  `updated_at` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp()
  database\schema.sql:925:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:926:
  database\schema.sql:927:--
  database\schema.sql:928:-- Dumping data for table 
`users`
  database\schema.sql:929:--
  database\schema.sql:930:
  database\schema.sql:931:INSERT INTO `users` (`id`, 
`name`, `email`, `phone`, `password`, `is_admin`, 
`is_active`, `created_at`, `updated_at`) VALUES
  database\schema.sql:932:(1, 'Admin', 
'admin@driyum.com', '9876543210', '$2y$10$46xQjsFXLcecONg
kC79rv.xxYAbJxCWf7abdYMHTkUn1zEWj01wj2', 1, 1, 
'2026-01-16 18:57:45', '2026-01-17 06:43:51'),
  database\schema.sql:933:(2, 'irfan manzoor', 
'drop.mail.iry@gmail.com', NULL, '$2y$10$h9jYz4hehgUyGjGQ
p.Dkq.l8NaXxgyV7FdsdFl5NnstxQOm09iITO', 0, 1, 
'2026-01-17 06:25:09', '2026-01-23 08:44:13'),
  database\schema.sql:934:(4, 'irfan manzoor', 
'hire.iry@gmail.com', '6006801960', '$2y$10$F7s4umo3Xydz1
3/DLFexyewMXq7GMpoeD8hM191cOVQBtWrQILiQ2', 1, 1, 
'2026-01-23 09:24:47', '2026-01-23 09:42:09');
  database\schema.sql:935:
> database\schema.sql:936:-- 
--------------------------------------------------------
  database\schema.sql:937:
  database\schema.sql:938:--
  database\schema.sql:939:-- Table structure for table 
`user_addresses`
  database\schema.sql:940:--
  database\schema.sql:941:
  database\schema.sql:942:CREATE TABLE `user_addresses` (
  database\schema.sql:943:  `id` int(11) NOT NULL,
  database\schema.sql:944:  `user_id` int(11) NOT NULL,
  database\schema.sql:945:  `name` varchar(255) NOT NULL,
  database\schema.sql:946:  `phone` varchar(20) NOT NULL,
  database\schema.sql:947:  `address_line1` varchar(500) 
NOT NULL,
  database\schema.sql:948:  `address_line2` varchar(500) 
DEFAULT NULL,
  database\schema.sql:949:  `city` varchar(100) NOT NULL,
  database\schema.sql:950:  `state` varchar(100) NOT 
NULL,
  database\schema.sql:951:  `pincode` varchar(10) NOT 
NULL,
  database\schema.sql:952:  `is_default` tinyint(1) 
DEFAULT 0,
  database\schema.sql:953:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp(),
  database\schema.sql:954:  `updated_at` timestamp NOT 
NULL DEFAULT current_timestamp() ON UPDATE 
current_timestamp()
  database\schema.sql:955:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:956:
> database\schema.sql:957:-- 
--------------------------------------------------------
  database\schema.sql:958:
  database\schema.sql:959:--
  database\schema.sql:960:-- Table structure for table 
`wishlist`
  database\schema.sql:961:--
  database\schema.sql:962:
  database\schema.sql:963:CREATE TABLE `wishlist` (
  database\schema.sql:964:  `id` int(11) NOT NULL,
  database\schema.sql:965:  `user_id` int(11) NOT NULL,
  database\schema.sql:966:  `product_id` int(11) NOT 
NULL,
  database\schema.sql:967:  `created_at` timestamp NOT 
NULL DEFAULT current_timestamp()
  database\schema.sql:968:) ENGINE=InnoDB DEFAULT 
CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
  database\schema.sql:969:
  database\schema.sql:970:--
  database\schema.sql:971:-- Dumping data for table 
`wishlist`
  database\schema.sql:972:--
  database\schema.sql:973:
  database\schema.sql:974:INSERT INTO `wishlist` (`id`, 
`user_id`, `product_id`, `created_at`) VALUES
  database\schema.sql:975:(2, 2, 10, '2026-01-21 
18:31:31'),
  database\schema.sql:976:(3, 2, 11, '2026-01-21 
18:31:39'),
  database\schema.sql:977:(4, 2, 12, '2026-01-21 
18:31:41'),
  database\schema.sql:978:(5, 2, 13, '2026-01-21 
18:31:42'),
  database\schema.sql:979:(6, 1, 11, '2026-01-22 
12:23:28');
  database\schema.sql:980:
  database\schema.sql:981:--
  database\schema.sql:982:-- Indexes for dumped tables
  database\schema.sql:983:--
  database\schema.sql:984:
  database\schema.sql:985:--
  database\schema.sql:986:-- Indexes for table 
`abandoned_carts`
  database\schema.sql:987:--
  database\schema.sql:988:ALTER TABLE `abandoned_carts`
  database\schema.sql:989:  ADD PRIMARY KEY (`id`),
  database\schema.sql:990:  ADD KEY `user_id` 
(`user_id`),
  database\schema.sql:991:  ADD KEY `is_reminded` 
(`is_reminded`);
  database\schema.sql:992:
  database\schema.sql:993:--
  database\schema.sql:994:-- Indexes for table 
`admin_activity_log`
  database\schema.sql:995:--
  database\schema.sql:996:ALTER TABLE 
`admin_activity_log`
  database\schema.sql:997:  ADD PRIMARY KEY (`id`),
  database\schema.sql:998:  ADD KEY `idx_admin` 
(`admin_id`),
  database\schema.sql:999:  ADD KEY `idx_created` 
(`created_at`);
  database\schema.sql:1000:
  database\schema.sql:1001:--
  database\schema.sql:1002:-- Indexes for table 
`admin_notifications`
  database\schema.sql:1003:--
  database\schema.sql:1004:ALTER TABLE 
`admin_notifications`
  database\schema.sql:1005:  ADD PRIMARY KEY (`id`);
  database\schema.sql:1006:
  database\schema.sql:1007:--


